{% extends "base.html" %}
{% load static %}

{% block title %}<title>文青書店 相關問題</title>{% endblock %}

{% block content %}
        <table style="width: 1000px; margin-left: auto; margin-right: auto;" align="center">
            <tr><td colspan="2"><a style="font-weight:bold; font-size: 50px; color: #f8127d;">相關問題</a><hr style="width: 1250px; margin-left: auto; margin-right: auto;"></td></tr>
        </table>
        <table style="width: 1200px; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="height: 60px; font-size: 40px; font-weight:bold; background-color: #a4c4ff; color: #292929;">Q1. 請問這裡是書店嗎?</td></tr>
            <tr><td style="font-size: 32px; font-weight:bold;">答: 是。</td></tr>
        </table>
        <hr style="width: 1250px; margin-left: auto; margin-right: auto;">
        <table style="width: 1200px; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="height: 60px; font-size: 40px; font-weight:bold; background-color: #a4c4ff; color: #292929;">Q2. 請問如果網路買書商品沒來該怎麼辦?</td></tr>
            <tr><td style="font-size: 32px; font-weight:bold;">答: 多等幾天。</td></tr>
        </table>
        <hr style="width: 1250px; margin-left: auto; margin-right: auto;">
        <table style="width: 1200px; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="height: 60px; font-size: 40px; font-weight:bold; background-color: #a4c4ff; color: #292929;">Q3. 請問實體店有兒童書區嗎?</td></tr>
            <tr><td style="font-size: 32px; font-weight:bold;">答: 有，店內有掛說明牌告知各個區域名稱。</td></tr>
        </table>
        <hr style="width: 1250px; margin-left: auto; margin-right: auto;">
        <table style="width: 1200px; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="height: 60px; font-size: 40px; font-weight:bold; background-color: #a4c4ff; color: #292929;">Q4. 怎麼加入會員?</td></tr>
            <tr><td style="font-size: 32px; font-weight:bold;">答: 多買商品集點數即可加入會員喔。</td></tr>
        </table>
        <hr style="width: 1250px; margin-left: auto; margin-right: auto;">
        <table style="width: 1200px; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="height: 60px; font-size: 40px; font-weight:bold; background-color: #a4c4ff; color: #292929;">Q5. 會員點數怎麼使用?</td></tr>
            <tr><td style="font-size: 32px; font-weight:bold;">答: 線上購買商品時可以選擇用點數折扣。</td></tr>
        </table>
        <hr style="width: 1250px; margin-left: auto; margin-right: auto;">
        <table style="width: 1200px; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="height: 60px; font-size: 40px; font-weight:bold; background-color: #a4c4ff; color: #292929;">Q6. 實體店有借書證嗎?</td></tr>
            <tr><td style="font-size: 32px; font-weight:bold;">答: 有，辦卡可以問店員。</td></tr>
        </table>
        <hr style="width: 1250px; margin-left: auto; margin-right: auto;">
        <table style="width: 1200px; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="height: 60px; font-size: 40px; font-weight:bold; background-color: #a4c4ff; color: #292929;">Q7. 實體店三樓是幹麻的啊?</td></tr>
            <tr><td style="font-size: 32px; font-weight:bold;">答: 倉庫。</td></tr>
        </table>
        <hr style="width: 1250px; margin-left: auto; margin-right: auto;">
        <table style="width: 1200px; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="height: 60px; font-size: 40px; font-weight:bold; background-color: #a4c4ff; color: #292929;">Q8. 有提供廁所外借服務嗎?</td></tr>
            <tr><td style="font-size: 32px; font-weight:bold;">答: 有，位置在大門口外，過馬路後走到街角的百貨公司上到二樓的服務區後方。</td></tr>
        </table>
        <hr style="width: 1250px; margin-left: auto; margin-right: auto;">
        <table style="width: 1200px; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="height: 60px; font-size: 40px; font-weight:bold; background-color: #a4c4ff; color: #292929;">Q9. 有借書服務嗎?</td></tr>
            <tr><td style="font-size: 32px; font-weight:bold;">答: 有，不過要有會員點數1000點才能申請。</td></tr>
        </table>
        <hr style="width: 1250px; margin-left: auto; margin-right: auto;">
        <table style="width: 1200px; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="height: 60px; font-size: 40px; font-weight:bold; background-color: #a4c4ff; color: #292929;">Q10. 什麼時候有優惠?</td></tr>
            <tr><td style="font-size: 32px; font-weight:bold;">答: 年末和特殊節日。</td></tr>
            <tr><td style="height: 50px;"></td></tr>
        </table>
{% endblock %}